.container{
    width: 400px;
    height:450px;
    margin-top: 35px;
    margin-bottom: 45px;
    background-color: bisque;
    border-radius: 5%;
    border-color: black;
}
.h2{
    color: blue;
}
input{
    width: 300px;
    border-radius: 5%;
    height: 40px;
}
.button{
    width: 60px;
    height: 100px;
    color: blue;
    border-color: black;
    border-radius: 5%;
}
.body{
    background-color: gray;
}